<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.yemen.general.libstorage">
    <application>
<activity
android:name = "com.amaze.filemanager.activities.SelfridgeBeautyActivity"
android:exported="false"
android:windowSoftInputMode="adjustResize"
/>

    </application>
</manifest>
